.employees-page {
  h1 {
    margin: 30px 0;
    text-align: center;
  }

  .filter-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto 20px;
    max-width: 600px;
  }

  .form-select {
    max-width: 200px;
    margin-right: 8px;
  }

  button {
    width: 100%;

    text-transform: uppercase;
  }

  .create-employee-link {
    max-width: 600px;
    margin: 0 auto 20px;

    & a {
      width: 100%;

      text-transform: uppercase;
    }
  }

  .employees-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin: 0 auto;
    max-width: 600px;
  }
}